@model List<task_crud2.Models.Tarea>

    <h1>TASKS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var task in Model)
        {
            <tr>
            <td>@task.IdTask</td>
            <td>@task.Title</td>
            <td>@task.Description</td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-controller="TaskController1" asp-action="Create">Create task</a>